<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

  <!-- Bootstrap CSS -->
  <!-- Font Awesome -->
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <linklogin href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Peddana&family=Tangerine:wght@700&display=swap" rel="stylesheet">
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../stylesheets/style.css">

  <script src="../javascripts/articles.js"></script>

</head>

<body>

  <div class="banner">
    <p>
      Articles
    </p>
  </div>

  <% for(var i=0; i < Blogs.length; i++) { %>
  <div class="article-card" data-toggle="modal" data-target="#articleModal" onclick="updateModal(`<%= Blogs[i].title %>`, `<%= Blogs[i].body %>`)">
    <div class="article-title">
      <p><%= Blogs[i].title %> </p>
    </div>

    <div class="article-content">
      <blockquote>
          <p><%= Blogs[i].body %> </p>
          <footer><%= Blogs[i].userMail %></footer>
      </blockquote>
    </div>

    <div class="hidden"><%= Blogs[i].flag%></div>
    <a href="/mod/api/acceptArticle?id=<%=Blogs[i]._id %>"  class="btn btn-success actionButton">Accept</a>
    <a href="/mod/api/rejectArticle?id=<%=Blogs[i]._id %>" class="btn btn-danger actionButton">Reject</a>

  </div>
  <% } %>

  <a href="/profile" class="button-link btn">Go Back</a>

  <div class="modal fade" id="articleModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="articleHead">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p id="articleContent">Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.js"></script>

</body>

</html>